DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=change-this-production-secret-key
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com
POSTGRES_DB=stores_inventory_production
POSTGRES_USER=stores_inventory
POSTGRES_PASSWORD=change-this-production-db-password
APP_PORT=8000
DJANGO_SUPERUSER_USERNAME=kannde
DJANGO_SUPERUSER_EMAIL=kannde@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-superuser-password
