DJANGO_SETTINGS_MODULE=config.settings.staging
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=change-this-staging-secret-key
DJANGO_ALLOWED_HOSTS=staging.example.com,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://staging.example.com
POSTGRES_DB=stores_inventory_staging
POSTGRES_USER=stores_inventory
POSTGRES_PASSWORD=change-this-staging-db-password
APP_PORT=8001
DJANGO_SUPERUSER_USERNAME=kannde
DJANGO_SUPERUSER_EMAIL=kannde@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-superuser-password
